// General Style Variables
@import "config/variables";

// External Frameworks
@import "materialize";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #333;
  }

  main {
    flex: 1 0 auto;
  }
