<footer class="page-footer small-footer light-blue darken-2">
   <div class="container">
     <div class="row">
       <div class="col m6 s12 center-align">
         <p class="grey-text text-lighten-4">Made with love by Volchan For Ruby Bordeaux</p>
       </div>
       <div class="col m6 s12 center-align">
         <p>
           <a class="grey-text text-lighten-4" href="https://www.github.com/volchan"><i class="fa fa-github"></i> Github</a> &nbsp
           <a class="grey-text text-lighten-4" href="http://www.volchan.fr"><i class="fa fa-link"></i> Website</a>
         </p>
       </div>
     </div>
   </div>
 </footer>
