<div id="synopsys" class="container">
  <div class="row section">
    <div class="col s12 center-align">
      <%= image_tag 'materialdesign_introduction.png', class: 'responsive-img' %>
      <h3>Qu'est-ce que le Material Design ?</h3>
    </div>
  </div>
  <div class="row section">
    <div class="col s10 offset-s1 l6 offset-l3">
      <blockquote style="text-align: justify">Créé et conçu par <b><em>Google</em></b>, le <b><em>Material Design</em></b> est un langage de conception similaire à <b><em>Bootstrap</em></b> et intégrant des principes de design propres à <b><em>Google</em></b>. Le but étant de développer une expérience utilisateur unifiée au travers de leurs produits sur n'importe quelle plateforme.</blockquote>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 l4">
      <%= image_tag 'materialdesign_principles_metaphor.png', class: 'responsive-img' %>
      <h5 class="center-align">Material est une métaphore</h5>
      <p>La metophore du Materail design est celle d'un espace rationalisé et d'un système de mouvement unifié. Le material design est fondé sur la réalité tactile, inspiré par l'étude du papier et de l'encre, mais technologiquement avancé et ouvert à l'imagination et à la magie.</p>
      <p>Surfaces and edges of the material provide visual cues that are grounded in reality. The use of familiar tactile attributes helps users quickly understand affordances. Yet the flexibility of the material creates new affordances that supersede those in the physical world, without breaking the rules of physics.</p>
      <p>The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
    </div>
    <div class="col s12 l4">
      <%= image_tag 'materialdesign_principles_bold.png', class: 'responsive-img' %>
      <h5 class="center-align">Bold, graphic, intentional</h5>
      <p>The foundational elements of print-based design – typography, grids, space, scale, color, and use of imagery – guide visual treatments. These elements do far more than please the eye. They create hierarchy, meaning, and focus. Deliberate color choices, edge-to-edge imagery, large-scale typography, and intentional white space create a bold and graphic interface that immerse the user in the experience.</p>
      <p>An emphasis on user actions makes core functionality immediately apparent and provides waypoints for the user.</p>
    </div>
    <div class="col s12 l4">
      <%= image_tag 'materialdesign_principles_motion.png', class: 'responsive-img' %>
      <h5 class="center-align">Motion provides meaning</h5>
      <p>Motion respects and reinforces the user as the prime mover. Primary user actions are inflection points that initiate motion, transforming the whole design.</p>
      <p>All action takes place in a single environment. Objects are presented to the user without breaking the continuity of experience even as they transform and reorganize.</p>
      <p>Motion is meaningful and appropriate, serving to focus attention and maintain continuity. Feedback is subtle yet clear. Transitions are efﬁcient yet coherent.</p>
    </div>
  </div>
</div>
