<nav class="light-blue darken-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center hide-on-med-and-down">
      <%= image_tag 'materialize.svg' %>
    </a>
    <ul id="nav" class="tabs tabs-transparent">
      <li class="tab"><a class="active" href="#intro">INTRO</a></li>
      <li class="tab"><a href="#livecode">LIVE CODE</a></li>
    </ul>
  </div>
</nav>
