<div class="container">
  <div class="row section">
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <%= image_tag 'material-io.png' %>
        </div>
        <div class="card-content">
          <p>Material.io est la documentation officielle du material design, elle regroupe tout ce qu'il faut savoir sur ce concept ainsi que quelques outils tel qu'une palette de couleur ou une liste de résolutions communes.</p>
        </div>
        <div class="card-action">
          <a href="https://material.io">Material.io</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <%= image_tag 'materialize-doc.png' %>
        </div>
        <div class="card-content">
          <p>Materializecss est la documentation de la gem ruby, tout ce qu'il y as à savoir sur la gem ce trouve ici.</p>
        </div>
        <div class="card-action">
          <a href="http://materializecss.com">Materializecss.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 m6">
      <div class="video-container responsive-video">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="video-container responsive-video">
        <iframe width="853" height="480" src="//www.youtube.com/embed/rrT6v5sOwJgs?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
