.justify-text {
  text-align: justify;
}

.tab-content {
  display: none;
}

.active-content {
  display: block;
}

.code {
  background-color: #fafafa;
  border: 1px solid darken(#fafafa, 10%);
  border-radius: 2px;
  color: #e74c3c;
  padding: 1px 2px;
}
