---
title: Material talk
---

<div id="intro" class="tab-content active-content">
  <%= partial 'partials/intro' %>
</div>
<div id="gem" class="tab-content">
  <%= partial 'partials/gem' %>
</div>
<div id="ressources" class="tab-content">
  <%= partial 'partials/ressources' %>
</div>
