---
title: Materialize talk
---

<div id="intro" class="col s12 tab-content">
  <%= partial 'partials/intro' %>
</div>
<div id="gem" class="col s12 tab-content">
  <%= partial 'partials/gem' %>
</div>
<div id="ressources" class="col s12 tab-content">
  <%= partial 'partials/ressources' %>
</div>
